/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header,footer {
  height: 100px;
  border: 1px solid black;
  clear: both;
}
section{
  height: 400px;
  border: 1px solid black;
  width: 20%;
  float: left;
}
.big{
  width: 40%;
background: purple;
}


@@media screen and (max-width: 600px){
  section{
    background: blue;
  }
}
@media (min-width: 601px) and (max-width: 900px){
  secion{
    background: green;
    width: 33.33%
  }
  .big{
    display: none;
  }
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
