<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<nav>
			<img src="" alt="">
			<h2>Extra Crunch</h2>
			<a href="#"></a>
			<ul>
				<li> <a href="#">Startups</a></li>
				<li> <a href="#">Startups</a></li>
				<li> <a href="#">Startups</a></li>
				<li> <a href="#">Startups</a></li>
				<li> <a href="#">Startups</a></li>
				<li> <a href="#">Startups</a></li>
				<li> <a href="#">Startups</a></li>
				<li> <a href="#">Startups</a></li>
			</ul>
		</nav>
		<main>
			<h1>What china's fintech marker can teach the world</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
			<span>Danny Gibson</span>
			<img src="" alt="">
		</main>
			<aside>
				<ul>
					<li>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
					<span>author1</span>
					</li>
					<li>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
					<span>author2</span>
					</li>
					<li>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
					<span>author3</span>
					</li>
					<li>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
					<span>author4</span>
					</li>
				</ul>
			</aside>
		<aside class="">

		</aside>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
